# Populate vars and rename this file to .env. 

INFLUXDB_USERNAME=ADMIN_USERNAME
INFLUXDB_PASSWORD=ADMIN_PASSWORD
INFLUXDB_TOKEN=SOMESUPERSECRETADMINTOKEN==
GF_SECURITY_ADMIN_USER=GRAFANAADMINUSER
GF_SECURITY_ADMIN_PASSWORD=GRAFANAPASSWORD
