# Populate vars and rename this file to .env. 

# INFLUX ENV_VARS
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminadmin
INFLUXDB_TOKEN=MyInitialAdminToken0==
INFLUXDB_INIT_ORG=zontahnos
INFLUXDB_INIT_BUCKET=network_monitoring

# GRAFANA ENV VARS
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123

# VAULT ENV VARS
VAULT_DEV_ROOT_TOKEN_ID=root
VAULT_ADDR=http://0.0.0.0:8200
VAULT_API_ADDR=http://0.0.0.0:8200
VAULT_LOG_LEVEL=info
VAULT_UI=true