# Example env file. Populate vars and rename to .env. 
# This will be loaded in app.core.config

INFLUXDB_URL="http://influxdb2:8086"
INFLUXDB_TOKEN="The token you provided in the root .env"
ORG="zontahnos"
BUCKET="network_monitoring"
GRAFANA_TOKEN="placeholder"